In [2]:
#import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

In [3]:
#read dataset
IMDB_df = pd.read_csv('imdb.csv')
IMDB_df.head()

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163.0,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90.0,Film,R,-,NaN,NaN,Severe,NaN,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120.0,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97.0,Film,PG-13,-,NaN,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155.0,Film,PG-13,-,NaN,Moderate,NaN,Mild,Moderate

In [5]:
IMDB_df.columns

Index(['Name', 'Date', 'Rate', 'Votes', 'Genre', 'Duration', 'Type',
       'Certificate', 'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol',
       'Frightening'],
      dtype='object')

In [7]:
IMDB_df.shape

(6178, 14)

In [8]:
IMDB_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         6178 non-null   object
 1   Date         6178 non-null   int64
 2   Rate         6178 non-null   object
 3   Votes        6178 non-null   object
 4   Genre        6178 non-null   object
 5   Duration     5877 non-null   float64
 6   Type         6178 non-null   object
 7   Certificate  5728 non-null   object
 8   Episodes     6178 non-null   object
 9   Nudity       4719 non-null   object
 10  Violence     5504 non-null   object
 11  Profanity    5520 non-null   object
 12  Alcohol      5407 non-null   object
 13  Frightening  5320 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 675.8+ KB

In [9]:
IMDB_df.isnull().sum()

Name              0
Date              0
Rate              0
Votes             0
Genre             0
Duration        301
Type              0
Certificate     450
Episodes          0
Nudity         1459
Violence        674
Profanity       658
Alcohol         771
Frightening     858
dtype: int64

In [12]:
IMDB_df.describe(include = 'object')

,Name,Rate,Votes,Genre,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
count,6178,6178,6178,6178,6178,5728,6178,4719,5504,5520,5407,5320
unique,4820,77,4802,377,2,22,284,4,4,4,4,4
top,King Kong,7.3,No Votes,Comedy,Film,R,-,Mild,Moderate,Mild,Mild,Moderate
freq,5,273,185,268,4446,1885,4446,2292,1814,2077,3257,1969

In [13]:
#separate king kong movies
KingKong_data = IMDB_df.loc[IMDB_df.Name=='King Kong']
KingKong_data

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
2084,King Kong,2005,7.2,"407,876","Action, Adventure, Drama",187.0,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
4207,King Kong,1976,5.9,"31,536","Adventure, Horror",134.0,Film,PG,-,Mild,Moderate,Mild,Mild,Moderate
4951,King Kong,1933,7.9,"82,705","Adventure, Horror, Sci-Fi",100.0,Film,Passed,-,Mild,Moderate,NaN,Mild,Moderate
5357,King Kong,1976,5.9,"31,536","Adventure, Horror",134.0,Film,PG,-,Mild,Moderate,Mild,Mild,Moderate
6101,King Kong,1933,7.9,"82,705","Adventure, Horror, Sci-Fi",100.0,Film,Passed,-,Mild,Moderate,NaN,Mild,Moderate

In [14]:
#drop duplicates
IMDB_df.drop_duplicates(inplace=True)
IMDB_df.shape

(5028, 14)

In [ ]:
#remove , from votes feture
IMDB_df['Votes'] = IMDB_df['Votes'].str.replace(',','')
IMDB_df.head()